@page
@model PrivacyModel
@{
    Layout = "~/Pages/Shared/_NavicatLayout.cshtml";
    ViewData["Title"] = "Privacy Policy";
    ViewData["showFooter"] = "footer";
}
<div class="container-fluid pt-4 pb-4 border-inset bg-white vh-60">
    <h3>@ViewData["Title"]</h3>

    <p>Use this page to detail your site's privacy policy.</p>
    <p>
        版权所有 © 四川劳吉克信息技术有限公司
    </p>
    <p>
        Ruby、.NET Core，数据库 Mysql
    </p>
    <p class="mb-4"></p>
</div>
<div class="waveWrapper waveAnimation border-bottom border-ccc border-top-fff" style="margin-bottom:23px;margin-top:26px;">
    <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('/images/wave-png/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('/images/wave-png/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('/images/wave-png/wave-bot.png')"></div>
    </div>
</div>
