@page
@model RubyMine.Pages.Swagger.IndexModel
@{
    ViewData["scroll_hidden"] = "overflow-y:hidden !important;";
    Layout = "~/Pages/Shared/_NavicatLayout.cshtml";
}
<iframe id="iframe_swagger" src="/swagger/index.html" class="h-100 w-100 m-0 p-0 border-inset">
</iframe>
@*<div style="background-image:url('/images/line-dot.png');background-repeat:repeat-x;height:2px;margin-top:2px;">
    <img src="/images/whitepoint.png" />
</div>*@
<script>
    $("#iframe_swagger").on("load", function () {
        let head = $("#iframe_swagger").contents().find("head");
        let css = '<style>.topbar{display:none !important;}</style>';
        $(head).append(css);
    });

    var iframe = document.getElementById('iframe_swagger');
    var style = document.createElement('style');
    style.textContent = '.toolbar { display:none !important;}';
    iframe.contentDocument.head.appendChild(style);
</script>